{% load static %}

<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{% block title %} NepalKala {% endblock %}</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <link
        href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;500;600;700&family=Montserrat:wght@400;500;600&family=Poppins:wght@300;400;500;600&display=swap"
        rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" />

    <link rel="stylesheet" href="{% static 'css/style.css' %}" />

    <link rel="stylesheet" href="{% static 'css/home.css' %}" />

    <link rel="stylesheet" href="{% static 'css/about.css' %}" />

    <link rel="stylesheet" href="{% static 'css/collection.css' %}" />

    <link rel="stylesheet" href="{% static 'css/contact.css' %}" />

    <link rel="stylesheet" href="{% static 'css/shop.css' %}" />

</head>

<body>
    {% include 'partials/navbar.html' %}

    <main>{% block content %} {% endblock %}</main>

    {% include 'partials/footer.html' %}

    <script src="{% static 'js/main.js' %}"></script>
</body>

</html>
