<header class="header">
  <div class="container">
    <a href="/" class="logo"> Nepal<span>Kala</span> </a>

    <nav class="navbar">
      <a href="/">Home</a>

      <a href="/shop">Shop</a>

      <a href="/collection">Collections</a>

      <a href="/about">About</a>

      <a href="/contact">Contact</a>
    </nav>

    <div class="nav-icons">
      <button>
        <i class="fa-solid fa-magnifying-glass"></i>
      </button>

      <button>
        <i class="fa-regular fa-heart"></i>
      </button>

      <button>
        <i class="fa-solid fa-bag-shopping"></i>
      </button>
    </div>
  </div>
</header>
